{% block agent_role %}{% endblock %}
{% block domain_routing %}{% endblock %}
{% block grounding_rules %}{% endblock %}
{% block planning_rules %}{% endblock %}
{% block tool_discipline %}{% endblock %}
{% block knowledge_search %}{% endblock %}
{% block output_contract %}{% endblock %}
