{% block agent_role required %}{% endblock %}

{% block responsibility required %}{% endblock %}

{% block domain_rules %}{% endblock %}
{% block grounding_rules %}{% endblock %}
{% block planning_rules %}{% endblock %}
{% block tool_discipline %}{% endblock %}
{% block knowledge_search %}{% endblock %}
{% block output_contract required %}{% endblock %}
